<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Design by</b> <a href="http://blueitmarketing.co.za">Blue IT Marketing</a> | <small>Tel : +2715-962-0369 Email: info@blueitmarketing.co.za </small>
    </div>
    <strong>Copyright &copy; 2012-2017 <a href="http://blueitmarketing.co.za">Blue IT Marketing Pty LTD</a>.</strong> All rights
    reserved. Cell: <a href="tel:27790471559">+27-7904 71559</a>
</footer>
<footer class="box box-footer with-border">
    <div class="pull-right hidden-xs">
        <a href="/terms">Terms</a> | <a href="/privacy">Privacy</a> | <a href="/about">About</a>
    </div>
</footer>
<footer class="main-footer">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blueleaderboard -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-7790567144101692"
     data-ad-slot="3160772276"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</footer>