

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../../static/dist/img/boxed-bg.jpg" id="strSideUserImageID" class="img-circle" alt="SA-SMS">
        </div>
        <div class="pull-left info">
            <p id="strSideUserNameID"><a href="/login">Please Login</a></p>
            <span> <a href="/logout" class="hidden" id="logoutid"> <i class="glyphicon glyphicon-log-out"> </i>  <strong> Logout </strong></a></span>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
        <li class="header">Blue IT Marketing</li>
        <li class="treeview">
          <li><a href="/" title="Home of Blue IT Marketing | Developing Intelligent Business &mp; Marketing Solutions for you"><i class="glyphicon glyphicon-home"></i> Home</a></li>
          <li><a href="/about" title="About Blue IT Marketing and the people behind the company"><i class="glyphicon glyphicon-info-sign"></i> About</a></li>
          <li><a href="/contact" title="Contact Blue IT Marketing"><i class="glyphicon glyphicon-envelope"></i> Contact</a></li>
          <li><a href="/blog" title="Blue IT Marketing Blog"><i class="glyphicon glyphicon-book"></i> Blog</a></li>
          <li><a href="/projects" title="Show casing our most challenging projects to-date"><i class="fa fa-code-fork"></i> Projects</a></li>
          <li><a href="/api" title="Blue IT Marketing also offers several Business &amp; Marketing API for programmers"><i class="glyphicon glyphicon-cloud-upload"> </i> API</a></li>
          <li><a href="/hireus" title="Hire Blue IT Marketing to develop your Business Applications"><i class="fa fa-code"> </i>  Hire Us </a> </li>
          <li><a href="/login"><i class="glyphicon glyphicon-log-in"> </i> Login </a></li>
        </ul>

    </section>

    <!-- /.sidebar -->
  </aside>
<script src="/static/dist/js/firebase.js"></script>
<script src="/static/dist/js/pages/auth/sidebar.js"></script>