<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>About Blue IT Marketing Pty LTD</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">s
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css">
  <!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">


<div class="wrapper">
  <div id="MainHeaderDiv"></div>
   <div id="SideBarDiv"></div>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Blue IT Marketing Pty LTD
        <small>Blue IT Marketing Pty LTD</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">About</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="box box-primary">
            <div class="box box-header with-border">
                <h3 class="box-title"> Sections</h3>
            </div>
            <div class="box box-footer with-border">
            <button type="fc-button" href="#BlueITMarketingTAB" data-toggle="tab" class="btn btn-app btn-flat btn-lg btn-block" id="CompanyInfoButt"><strong> <i class="glyphicon glyphicon-registration-mark"> </i> Blue IT Marketing</strong></button>
            <button type="fc-button" href="#PeopleTAB" data-toggle="tab" class="btn btn-app btn-flat btn-lg btn-block" id="PeopleInfoButt"><strong> <i class="glyphicon glyphicon-user"> </i> People</strong></button>
            <button type="fc-button" href="#MissionTAB" data-toggle="tab" class="btn btn-app btn-flat btn-lg btn-block hidden" id="MissionInfoButt"><strong> <i class="glyphicon glyphicon-pencil"> </i> Mission</strong></button>
            </div>

          </div>
            <div class="box box-footer with-border">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- menubar -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:300px;height:600px"
                 data-ad-client="ca-pub-7790567144101692"
                 data-ad-slot="7742358578"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            </div>


        </div>
        <div class="col-md-6">
          <div class="box box-body">
            <div class="box box-header with-border">
              <h3 class="box-title"> About Blue IT Marketing</h3>
            </div>

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="BlueITMarketingTAB">
                      <div class="box box-footer">
                          <div class="box box-header">
                            <h3 class="box-title"> <strong> <i class="glyphicon glyphicon-registration-mark"> </i> Blue IT Marketing </strong> </h3>
                          </div>

                        <strong> Blue IT Marketing is a company dedicated into providing intelligent business and marketing solutions,</strong> for small to medium sized
                          businesses, we make use of the latest technology has to offer to develop solutions that enables businesses to :

                          <ul class="list-group-unbordered">
                            <li class="list-group-item"> Operate Profitably and with the efficiency previously accessible only to bigger corporations with huge IT Budgets</li>
                            <li class="list-group-item"> Create and Maintain a cost effective marketing solutions that suits their business</li>
                            <li class="list-group-item"> <strong>Develop Business and Intelligence Solutions</strong> tailor made for their business and their markets</li>
                          </ul>

                        <p><strong>Blue IT Marketing</strong> also offers you ready made business and organization solutions that could suit some of your business needs,
                        however we can also be consulted to develop a custom built solution for your business.</p>

                      </div>

                    </div>
                    <div class="tab-pane" id="PeopleTAB">
                      <div class="box box-footer">
                        <div class="box box-header">
                          <h3 class="box-title"> <strong> <i class="glyphicon glyphicon-user"> </i> People </strong></h3>
                        </div>

                        <div class="box box-profile">
                          <div class="box box-header">
                            <h3 class="box-title"> <strong> <i class="glyphicon glyphicon-user"> </i> Justice Ndou</strong></h3>
                          </div>
                          <ul class="list-group-unbordered">
                            <li class="list-group-item"> Position's : <strong> Managing Director</strong> , <strong>Software Developer</strong>, <strong>Web Applications</strong>, and <strong>Online Marketing (SEO) Consultant</strong> </li>
                            <li class="list-group-item"> Cell : +27 790471559</li>
                            <li class="list-group-item"> Email : mobiusndou@gmail.com </li>
                            <li class="list-group-item"> Blog : <a href="https://justice-ndou.appspot.com"> https://justice-ndou.appspot.com</a> </li>
                          </ul>

                          <div class="row">

                            <div class="g-person" data-href="https://plus.google.com/+JusticeNDOU" layout="portrait" showcoverphoto="false" showtagline="true" width="600"></div>

                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="tab-pane" id="MissionTAB">
                      <div class="box box-footer">
                        <div class="box box-header">
                          <h3 class="box-title"><strong> <i class="glyphicon glyphicon-pencil"> </i> Mission </strong>  </h3>
                        </div>


                      </div>
                    </div>
                </div>
            </div>



          </div>
        </div>
        <div class="col-md-3">
          <div class="box small-box-footer">
            <div class="box box-header with-border">
              <h3 class="box-title"> Blue IT Marketing Web Applications</h3>
            </div>
            <ul class="list-group-unbordered">
              <li class="list-group-item"><strong><a href="https://church-admins.appspot.com"> Church Admin</a> </strong></li>
              <li class="list-group-item"><strong><a href="https://pro-finance.appspot.com"> Cover Management</a></strong></li>
              <li class="list-group-item"><strong><a href="https://manage-hotels.appspot.com"> Hotel Management</a></strong></li>
              <li class="list-group-item"><strong><a href="https://sa-sms.appspot.com"> SMS Messaging</a></strong></li>
              <li class="list-group-item"><strong><a href="https://comp-hr.appspot.com"> HR Systems</a> </strong></li>
              <li class="list-group-item"><strong><a href="https://schools-admin.appspot.com"> School Management </a> </strong></li>
              <li class="list-group-item"><strong><a href="https://sa-loans.appspot.com"> Loans Management</a> </strong></li>
              <li class="list-group-item"><strong><a href="https://client-trace.appspot.com"> Client Trace</a> </strong></li>
              <li class="list-group-item"><strong><a href="https://p2ptraders-app.appspot.com"> P2P Traders</a> </strong></li>
              <li class="list-group-item"><strong><a href="https://cloud-job.appspot.com"> Job Cloud</a> </strong></li>
              <li class="list-group-item"><strong><a href="https://freelancing-solutions.appspot.com"> Freelancing Solutions</a> </strong></li>
              <li class="list-group-item"><strong><a href="https://bus-admins.appspot.com"> Bus Admin</a> </strong></li>
            </ul>
          </div>

        </div>
      </div>

    </section>
  </div>
  <div id="FooterDiv"></div>

  <div class="control-sidebar-bg"></div>
</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/plugins/fastclick/fastclick.min.js"></script>
<script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/dist/js/app.min.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script src="/static/dist/js/pages/loaders.js"></script>
</body>
</html>
